<button class="button" (click)="toggleCommonOptions()">Show options</button>
@if (showCommonOptions()) {
<header>Angular Change Detection - based on {{ version }}</header>
  <div class="control">
    <section class="card">
      <header><h3>Trigger global actions</h3></header>
      <nav>
        <button #apptick_button (click.outside)="onTick()" text="AppRef.tick()">AppRef.tick()</button>
        <button
          #timeout_button
          (click.outside)="onTimeout()"
          text="setTimeout(...)"
          title="Installs a timeout to run in 3s (in ng-zone)"
        >
          setTimeout(...)
        </button>
        <button #click_button (click)="clickNoop()" title="Click with a NoOp" text="Click">Click</button>
      </nav>
    </section>

    <section class="card">
      <header><h3>Control dirty check coloring</h3></header>
      <nav>
        <label>
          <input type="checkbox" #auto_clear checked (change.outside)="onAutoCheckboxChange($event)" />Clear dirty check
          coloring automatically
        </label>
        <span class="filler"></span>
        <button #clear (click.outside)="onClear()" text="Clear">Clear</button>
      </nav>
    </section>

    <section class="card">
      <header>
        <h3>Play with component input - current value: <span #input_value_field>n/a</span></h3>
      </header>
      <nav>
        <button #trigger_change (click.outside)="onChange()" text="Trigger change">Trigger change</button>
        <label
        ><input
          type="checkbox"
          #propagate_by_value_checkbox
          checked
          title="Provides the new value as a new object (ref-change)"
        />change input object (ref-change)</label
        >
        <label
        ><input
          type="checkbox"
          #propagate_by_ref_checkbox
          checked
          title="Provides the new value by mutating the input object (no-ref-change)"
        />mutate input object (no ref-change)</label
        >
        <label
        ><input
          type="checkbox"
          #propagate_by_observable_checkbox
          checked
          title="Publishes the new value via Observable"
        />via Observable (no ref-change)</label
        >
        <label><input type="checkbox" #propagate_in_zone_checkbox checked />Propagate in Angular zone</label>
      </nav>
    </section>
  </div>
}


<div class="flag-toggles">
  <button class="flag-toggle-btn active" #flag_toggle (click.outside)="onToggleFlags()" text="Show LView Flags">Show LView Flags</button>
  <button class="flag-toggle-btn clear-btn" (click.outside)="onClearFlags()" text="Clear Flags">Clear Flags</button>
  <span class="filler"></span>
  <button
    #freeze_button
    class="flag-toggle-btn freeze-btn"
    title="Click to keep highlights on forever"
    (click.outside)="toggleFreeze()"
  >Freeze flicks</button>
</div>

<div class="cd-warning" (click.outside)="onTick()">Remember to trigger <i>tick()</i> to fire CD</div>

<main>
  <app-comp-1 [inputByVal]="inputByVal" [inputByRef]="inputByRef" [inputObservable]="inputObservable"></app-comp-1>
</main>

